.container {
}

.main {
  padding: 1rem 0;
}

.list {
  max-width: 800px;
  margin: 0 auto;
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid #e3e3e3;
}

.a {
  margin: 0 8px;
  font-weight: 800;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
